$DOMAIN {
	# Named matcher for multiple paths
  @apiPaths path /trpc/* /ingest /health /update-people

  # Reverse proxy for API service
  reverse_proxy @apiPaths api:3000 {
    header_up Host $DOMAIN
  }

  # Reverse proxy for Web service
  reverse_proxy web:3000
}
