@tailwind base;
@tailwind components;
@tailwind utilities;
/* NOTE: This file is not being used directly, however... */
/* It's easier to edit the colors here, and then convert to raw alpha in themes.css. */
@layer base {
  :root {
    /* Default theme */
    /* Base colors */
    --primary-100: #f1f1f7;
    --primary-200: #d1d0db;
    --primary-300: #b7b5c5;
    --primary-400: #9c9aae;
    --primary-500: #7d7b92;
    --primary-600: #626076;
    --primary-700: #403e54;
    --primary-800: #343344;
    --primary-900: #23222e;
    --primary-1000: #0d0d13;
    /* Key accent colors */
    --accent-100: #355ce9;
    --accent-200: #2c3d95;
    --flair-100: #40e4d8;
    --negative-100: #dc5068;
    /* Additional chart colors */
    --chart-1: #dc5068;
    --chart-2: #ef8c34;
    --chart-3: #f2bf3c;
    --chart-4: #17b4a1;
    --chart-5: #00b2ff;
    --chart-6: #2b46a9;
    --chart-7: #8c67f6;
  }

  .mysticalFire {
  }

  .infiniteVoid {
  }

  .deepLava {
    --primary-100: #f7f1f3;
    --primary-200: #dbd1d6;
    --primary-300: #c5b7bc;
    --primary-400: #ae9ca2;
    --primary-500: #927d87;
    --primary-600: #6e5e6a;
    --primary-700: #564550;
    --primary-800: #3e2e38;
    --primary-900: #281b20;
    --primary-1000: #16080a;
    /* Key accent colors */
    --accent-100: #355ce9;
  }

  .electricOcean {
  }
}
