@tailwind base;
@tailwind components;
@tailwind utilities;
/* NOTE: This file is not being used directly, however... */
/* It's easier to edit the colors here, and then convert to raw alpha in themes.css. */
@layer base {
  :root {
    /* Default theme */
    /* Base colors */
    --primary-100: 241 241 247;
    --primary-200: 209 208 219;
    --primary-300: 183 181 197;
    --primary-400: 156 154 174;
    --primary-500: 125 123 146;
    --primary-600: 98 96 118;
    --primary-700: 64 62 84;
    --primary-800: 52 51 68;
    --primary-900: 35 34 46;
    --primary-1000: 13 13 19;
    /* Key accent colors */
    --accent-100: 53 92 233;
    --accent-200: 44 61 149;
    --flair-100: 64 228 216;
    /* Additional chart colors */
    --chart-1: 220 80 104;
    --chart-2: 239 140 52;
    --chart-3: 242 191 60;
    --chart-4: 23 180 161;
    --chart-5: 0 178 255;
    --chart-6: 43 70 169;
    --chart-7: 140 103 246;
  }

  .mysticalFire {
  }

  .infiniteVoid {
  }

  .deepLava {
    --primary-100: 247 241 243;
    --primary-200: 219 209 214;
    --primary-300: 197 183 188;
    --primary-400: 174 156 162;
    --primary-500: 146 125 135;
    --primary-600: 110 94 106;
    --primary-700: 86 69 80;
    --primary-800: 62 46 56;
    --primary-900: 40 27 32;
    --primary-1000: 22 8 10;
  }

  .electricOcean {
  }
}
