@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles */
.debug {
  @apply !bg-red-500/80 !text-red-200;

}
.page {
  @apply bg-primary-900 min-h-screen overscroll-none
}
.card {
  @apply bg-primary-800/10 rounded-lg overflow-hidden border border-primary-800 
}

.card.hoverable {
  @apply hover:border-primary-600 hover:bg-primary-900/30 hover:shadow-lg hover:border;
}
.area.hoverable {
  @apply hover:bg-primary-100/5 cursor-pointer;
}
.text.hoverable {
  @apply hover:text-secondary-signature-100 ;
}
.subtext {
  @apply text-xs text-primary-500;
}
.focus-glow {
  @apply focus:outline-none focus:ring-4 focus:ring-primary-100 focus:ring-opacity-10;
}
.accent-hover {
  @apply hover:bg-secondary-signature-100/20 hover:text-secondary-signature-100 cursor-pointer;
}